@font-face {
  font-family: 'icon-font';
  src:  url('fonts/icon-font.eot');
  src:  url('fonts/icon-font.eot') format('embedded-opentype'),
    url('fonts/icon-font.ttf') format('truetype'),
    url('fonts/icon-font.woff') format('woff'),
    url('fonts/icon-font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e1019";
}
.icon-answer:before {
  content: "\e1018";
}
.icon-more:before {
  content: "\e1017";
}
.icon-woman-face:before {
  content: "\e1016";
}
.icon-01:before {
  content: "\e1015";
}
.icon-album_hover:before {
  content: "\e1000";
}
.icon-branch_icon:before {
  content: "\e1001";
}
.icon-breadcrumb_home:before {
  content: "\e1002";
}
.icon-contact_mail:before {
  content: "\e1003";
}
.icon-contact_ok_home:before {
  content: "\e1004";
}
.icon-contact_tel:before {
  content: "\e1005";
}
.icon-index_album:before {
  content: "\e1006";
}
.icon-index_news:before {
  content: "\e1007";
}
.icon-index_service:before {
  content: "\e1008";
}
.icon-left_nav_title:before {
  content: "\e1009";
}
.icon-links_icon:before {
  content: "\e1010";
}
.icon-message_icon:before {
  content: "\e1011";
}
.icon-message_icon02:before {
  content: "\e1012";
}
.icon-message_icon03:before {
  content: "\e1013";
}
.icon-video:before {
  content: "\e1014";
}
