body {
	word-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%
}
.site-title .logo h1{
    margin: 0;
}
a {
	color: inherit;
	text-decoration: none
}
.embed-responsive.video,.embed-responsive.video-embed-responsive {
    height: auto;
}
.embed-responsive.embed-responsive-16by9.video,
.embed-responsive.embed-responsive-4by3.video,
.embed-responsive.embed-responsive-16by9.video-embed-responsive,
.embed-responsive.embed-responsive-4by3.video-embed-responsive{
	padding-bottom:0;
}
.slick-slider *{
	outline: 0;
}
.fb_iframe_widget iframe {
	left: 0;
}

.abcRioButtonBlue {
	text-align: center;
	margin: auto
}

.youtubecontent iframe {
	width: 100%!important
}

.youtubecontent {
	position: relative;
	/*padding-top: 30px;*/
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%
}
.youtubecontent_box{
	display: inline-block;
    width: 100%;
}
.youtubecontent iframe,.youtubecontent object,.youtubecontent embed {
	box-sizing:border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.site-title {
	margin: 0
}

.wrapper {
	overflow: hidden
}

.container {
	position: relative;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.container:after,.list-h:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ' ';
	clear: both;
	height: 0
}
.list-v ul ,.list-h ul , .list-inline ul{
    list-style-type: disc;

}
.list-v ul ul,.list-h ul ul, .list-inline ul ul{
   list-style-type: circle;

}
.list-v ul ul ul,.list-h ul ul ul, .list-inline ul ul ul{
	list-style-type: square;
}
.list-inline,.list-h,.list-v, ul.gomember-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.cart-list,ul.cart-list{
	padding: 0;
	list-style-type: none;
}
.togglebtn ul{
	list-style-type: none;
}
.togglebtn ul a{
	max-width: 100%;
}
.menu,.menu ul,.menu ul ul,.menu ul ul ul,
.side-nav,.side-nav ul,.side-nav ul ul,.side-nav ul ul ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.list-inline > li,.list-inline .item {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	list-style-type: none;
}

.list-inline > li a,.list-inline .item a {
	display: inline-block;
	position: relative
}

.list-h > li,.list-h .item {
	float: left;
	box-sizing: border-box;
	list-style-type: none;
}

.list-h > li a,.list-h .item a,.list-v li a {
	display: block;
	position: relative
}
.list-h > li a.fancybox, .list-h .item a.fancybox, .list-v li a.fancybox{
	display: none;

}
.pic {
	text-align: center;
	margin: 0;
	padding: 0
}

.pic.full img {
	width: 100%
}

:focus {
	outline: none
}

.slick-item + .slick-item {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden
}

.ic {
	display: inline-block
}

.icon {
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat
}

.btn,.ibtn {
	display: inline-block;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	border: none;
	padding: 0;
	background: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-sizing: border-box
}

.btn::-moz-focus-inner,.ibtn::-moz-focus-inner {
	padding: 0;
	border: 0
}

.btn:focus,.ibtn:focus {
	outline: none
}

.ibtn {
	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	background-repeat: no-repeat;
	padding: 0!important;
	transition: none
}

.ibtn:hover {
	background-position: 0 100%
}

.table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	word-break: break-all
}

.checked.form-radio:before,.checked .form-checkbox:before {
	background-position: 0 100%
}

.mmenu-show .side {
	display: none
}

.mmenu-show .has-side .content {
	position: relative;
	width: auto;
	float: none
}

.toggle-mmenu,.toggle-mmenu-cover,#mobile-menu,#mobile-fixed,#member-box,#mobile-search,#language-box {
	display: none
}

.mmenu-show .toggle-mmenu-cover {
	position: fixed;
	z-index: 600;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,0.85);
	display: none
}

.mmenu-show.mmenu-open .toggle-mmenu-cover {
	display: block
}

.mmenu-show .toggle-mmenu-close {
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 28px;
	position: absolute;
	right: 5px;
	top: 5px
}

.mmenu-show .toggle-mmenu-close i {
	vertical-align: baseline
}

.mmenu-show.mmenu-open {
	overflow: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

.mmenu-show .wrapper {
	padding-top: 40px;
	position: relative;
	left: 0;
	transition: all .3s ease
}

.mmenu-show.mmenu-open .wrapper {
	left: 300px
}

.mmenu-show #mobile-menu {
	display: block;
	position: fixed;
	width: 300px;
	left: -300px;
	top: 0;
	bottom: 0;
	z-index: 1000;
	line-height: 1.6;
	background: #fff;
	transition: all .3s ease
}

.mmenu-show.mmenu-open #mobile-menu {
	left: 0
}

.mmenu-show.mmenu-open #mobile-fixed {
	left: 300px;
	right: -300px
}

.mmenu-show #mobile-menu .main-menu {
	position: absolute;
	top: 40px;
	bottom: 40px;
	right: 0;
	left: 0;
	background: #eee;
	overflow-x: hidden;
	overflow-y: auto
}

.mmenu-show #mobile-menu .menu {
	display: block
}

.mmenu-show #mobile-menu .menu li {
	position: relative;
	float: none;
	display: block
}

.mmenu-show #mobile-menu .menu li a {
	display: block;
	padding: 10px 30px;
	border-bottom: 1px solid #ddd;
	color: #666
}

.mmenu-show #mobile-menu .menu ul {
	display: none
}

.mmenu-show #mobile-menu .menu ul li a {
	padding-left: 40px;
	background: #fff
}

.mmenu-show #mobile-menu .menu ul ul li a {
	padding: 5px 30px 5px 55px;
	background: none;
	color: #666;
	border-bottom: 0
}

.mmenu-show #mobile-menu .menu .m-hide {
	display: none!important
}

.mmenu-show #mobile-menu .menu li.has-child > a {
	padding-right: 45px
}

.mmenu-show #mobile-menu .menu li.has-child > .toggle-submenu {
	position: absolute;
	right: 0;
	top: 0;
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	font-size: 15px;
	color: #bbb;
	cursor: pointer
}

.mmenu-show #mobile-menu .menu li.has-child > .toggle-submenu:before {
	content: '\f067';
	display: inline-block;
	font-family: 'icon-font'!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.mmenu-show #mobile-menu .menu li.has-child.active > .toggle-submenu:before {
	content: '\f068'
}

.mmenu-show #mobile-menu .main-menu .side-title {
	display: none
}

.mmenu-show #mobile-menu .side-nav,.mmenu-show #mobile-menu .side-nav-top,.mmenu-show #mobile-menu .content-nav {
	line-height: 1.4;
	background: none;
	padding: 0
}

.mmenu-show #mobile-menu .side-nav,.mmenu-show #mobile-menu .content-nav {
	padding-bottom: 2px;
	border-bottom: 1px solid #ddd
}

.mmenu-show #mobile-menu .side-nav-top {
	padding: 15px 30px;
	display: block;
	margin-bottom: 0;
	border-bottom: 1px solid #ddd
}

.mmenu-show #mobile-menu .side-nav li,.mmenu-show #mobile-menu .content-nav li {
	position: relative
}

.mmenu-show #mobile-menu .side-nav li a,.mmenu-show #mobile-menu .content-nav li a {
	padding: 12px 30px;
	margin: 0;
	text-decoration: none
}

.mmenu-show #mobile-menu .side-nav > li,.mmenu-show #mobile-menu .content-nav > li {
	padding: 0;
	border-bottom: 1px solid #ddd
}

.mmenu-show #mobile-menu .side-nav > li > a,.mmenu-show #mobile-menu .content-nav > li > a {
	background: none;
	color: #333;
	font-size: 16px;
	font-weight: 700
}

.mmenu-show #mobile-menu .side-nav > li > a:hover,.mmenu-show #mobile-menu .content-nav > li > a:hover {
	text-decoration: none
}

.mmenu-show #mobile-menu .side-nav > li > a:before,.mmenu-show #mobile-menu .content-nav > li > a:before {
	display: none
}

.mmenu-show #mobile-menu .side-nav > li.has-child:after,.mmenu-show #mobile-menu .content-nav > li.has-child:after {
	content: '\f078';
	font-family: 'icon-font'!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	right: 20px;
	top: 12px;
	pointer-events: none
}

.mmenu-show #mobile-menu .content-nav li.has-child > .toggle-submenu:before {
	display: none
}

.mmenu-show #mobile-menu .side-nav > li.has-child > a,.mmenu-show #mobile-menu .content-nav > li.has-child > a {
	padding-right: 40px
}

.mmenu-show #mobile-menu .side-nav > li.active,.mmenu-show #mobile-menu .content-nav > li.active {
	background: #fff
}

.mmenu-show #mobile-menu .side-nav ul,.mmenu-show #mobile-menu .content-nav ul {
	display: none;
	padding: 0 0 15px
}

.mmenu-show #mobile-menu .side-nav ul li a,.mmenu-show #mobile-menu .content-nav ul li a {
	border: 0;
	background: none;
	color: #777;
	font-size: 14px;
	padding: 8px 30px
}

.mmenu-show #mobile-menu .side-nav ul li.active > a:before,.mmenu-show #mobile-menu .content-nav ul li.active > a:before {
	top: 7px;
	left: 10px
}

.mmenu-show #mobile-menu .side-nav-top > li {
	border-bottom: 0
}

.mmenu-show #mobile-menu .side-nav-top > li a:before {
	content: '';
	display: block;
	width: 2px;
	height: 2px;
	border: 2px solid;
	position: absolute;
	left: -15px;
	top: 11px
}

.mmenu-show #mobile-menu .side-nav-top > li > a {
	background: none;
	color: #444;
	padding: 6px 0;
	font-weight: 400
}

.mmenu-show #mobile-menu .search-box {
	position: relative;
	right: 0;
	bottom: 0;
	display: block;
	margin: 0 15px
}

.mmenu-show #mobile-menu .share-menu {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 1100;
	margin: 0;
	border-top: 1px solid #ddd;
	text-align: center
}

.mmenu-show #mobile-menu .share {
	position: static;
	margin: 5px 0;
	display: inline-block
}

.mmenu-show #mobile-menu .share .btn {
	width: 30px;
	height: 30px;
	line-height: 30px;
	font-size: 17px;
	margin: 0 4px
}

.mmenu-show #mobile-menu .share .btn .ic {
	margin-bottom: 2px
}

.mmenu-show #mobile-menu .language-menu {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: #333;
	color: #aaa;
	height: 40px;
	line-height: 20px
}

.mmenu-show #mobile-menu .language {
	padding: 5px 40px 5px 10px
}

.mmenu-show #mobile-menu .language .btn {
	display: none
}

.mmenu-show #mobile-menu .language ul li {
	display: inline-block;
	vertical-align: top
}

.mmenu-show #mobile-menu .language ul li+li:before {
	content: '| '
}

.mmenu-show #mobile-menu .language ul li a {
	padding: 5px
}

.mmenu-show #mobile-menu .language ul li a:hover {
	color: #fff
}
/************************/
.mmenu-show #mobile-menu.mobile-menu-type2 {
    width: 66%;
    max-width: 500px;
	left: unset;
	transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    transition: .5s;
    -o-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    box-shadow: -2px 0 13px rgba(50%,50%,50%,0);
}
.mmenu-show.mmenu-open #mobile-menu.mobile-menu-type2{
	left: unset;
    transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    box-shadow: -2px 0 13px rgba(50%,50%,50%,.2);
}
.mmenu-show #mobile-menu.mobile-menu-type2 .main-menu {
    padding-left: 0;
    padding-right: 0;
    bottom: 138px;
    padding-bottom: 0;
    top: 125px;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .toggle-mmenu-close{
    width: 60px;
    height: 60px;
    right: 20px;
    top: -63px;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .toggle-mmenu-close .mmenu-icon{
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 18;
    line-height: 105px;
    text-align: center;
    font-size: 12px;
    transition: .2s ease-out;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .toggle-mmenu-close .mmenu-icon:before,
.mmenu-show #mobile-menu.mobile-menu-type2 .toggle-mmenu-close .mmenu-icon:after{
    content: "";
    height: 1px;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
    transform: translate3d(-50%,-50%,0) rotate(45deg);
    transition: .4s cubic-bezier(.25, .6, .36, 1);
    position: absolute;
    top: 50%;
    width: 25px;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .toggle-mmenu-close .mmenu-icon:before{
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transition-delay: 65ms;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .toggle-mmenu-close:hover .mmenu-icon:before{
    -webkit-transform: translate3d(-50%,-50%,0) rotate(135deg);
    transform: translate3d(-50%,-50%,0) rotate(135deg);
}
.mmenu-show #mobile-menu.mobile-menu-type2 .toggle-mmenu-close:hover .mmenu-icon::after{
    -webkit-transform: translate3d(-50%,-50%,0) rotate(225deg);
    transform: translate3d(-50%,-50%,0) rotate(225deg);
}
.mmenu-show #mobile-menu.mobile-menu-type2 .language {
    padding: 5px 35px;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .menu ul {
    padding-top: 7px;
	padding-bottom: 7px;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .menu li a {
    padding: 9px 40px;
	font-size: 15px;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .menu ul li a {
	padding-left: 54px;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 0;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .menu ul ul li a {
    padding-left: 70px;
	font-size: 14px;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .menu li.has-child > .toggle-submenu {
    height: 43px;
    line-height: 43px;
	font-size: 25px;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .menu ul li.has-child > .toggle-submenu {
    height: 32px;
    line-height: 32px;
}
.mmenu-show #mobile-menu.mobile-menu-type2 .menu li.has-child > .toggle-submenu:before{
	content: '\f107';
}
.mmenu-show #mobile-menu.mobile-menu-type2 .menu li.has-child.active > .toggle-submenu:before {
	content: '\f106';
}
.mmenu-show #mobile-menu.mobile-menu-type3 {
    left: 0;
	width: 100%;
	opacity: 0;
	top: 60px;
	pointer-events: none;
}
.mmenu-show #mobile-menu.mobile-menu-type3:before{
	content: "";
	width: 100%;
	height: 1px;
	background: rgba(255,255,255,0.2);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.mmenu-show.mmenu-open #mobile-menu.mobile-menu-type3 {
	opacity: 1;
	pointer-events: auto;
}
.mmenu-show #mobile-menu.mobile-menu-type3 .main-menu {
    padding-left: 15px;
    padding-right: 15px;
	bottom: 60px;
	padding-bottom: 40px;
}
.mmenu-show #mobile-menu.mobile-menu-type3 .menu ul {
    padding-top: 7px;
	padding-bottom: 7px;
}
.mmenu-show #mobile-menu.mobile-menu-type3 .menu li a {
    padding: 9px 40px;
	font-size: 15px;
}
.mmenu-show #mobile-menu.mobile-menu-type3 .menu ul li a {
	padding-left: 54px;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 0;
}
.mmenu-show #mobile-menu.mobile-menu-type3 .menu ul ul li a {
    padding-left: 67px;
	font-size: 14px;
}
.mmenu-show #mobile-menu.mobile-menu-type3 .menu li.has-child > .toggle-submenu {
    height: 43px;
    line-height: 43px;
}
.mmenu-show #mobile-menu.mobile-menu-type3 .menu ul li.has-child > .toggle-submenu {
    height: 32px;
    line-height: 32px;
}
.mmenu-show #mobile-menu.mobile-menu-type3 .toggle-mmenu-close {
    display: none;
}
.mmenu-show #mobile-menu.mobile-menu-type3 .language {
    padding: 5px 40px 5px 15px;
}
/************************/
.mmenu-show #mobile-fixed {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 600;
	transition: all .3s ease
}

.mmenu-show #mobile-fixed span {
	display: block;
	text-align: center;
	line-height: 40px;
	position: relative;
	padding: 0
}

.mmenu-show #mobile-fixed ul {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-bottom: 1px solid;
	margin: 0;
	padding: 0;
	list-style-type: none
}

.mmenu-show #mobile-fixed li {
	display: table-cell;
	vertical-align: top;
	border-width: 1px 1px 0;
	color: #fff;
	font-size: 28px
}

.mmenu-show #mobile-fixed a {
	display: block;
	text-align: center;
	line-height: 40px;
	position: relative
}

.mmenu-show #mobile-fixed li i {
	vertical-align: middle;
	margin: 0 auto 0px
}

.mmenu-show #mobile-fixed .qty {
	position: absolute;
	top: 2px;
	left: 54%;
	display: inline-block;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0;
	background: #333;
	line-height: 20px;
	padding: 0 4px;
	min-width: 20px;
	border-radius: 10px;
	box-sizing: border-box
}
/********************/
.mmenu-show #mobile-fixed.mobile-fixed-type2 ul{
	border-bottom: 0;
}
.mmenu-show #mobile-fixed.mobile-fixed-type2 li{
	width: 60px;
	position: absolute;
}
.mmenu-show #mobile-fixed.mobile-fixed-type2 li:first-of-type{
	left: 0;
}
.mmenu-show #mobile-fixed.mobile-fixed-type2 li:last-of-type{
	right: 0;
}
.mmenu-show #mobile-fixed.mobile-fixed-type2 a,
.mmenu-show #mobile-fixed.mobile-fixed-type2 span{
	line-height: 60px;
    height: 60px;
    position: relative;
}
.mmenu-show #mobile-fixed.mobile-fixed-type2 .mmenu-line-icon{
    width: 28px;
    height: 14px;
    position: absolute;
    left: calc(50% - 14px);
    top: calc(50% - 8px);
}
.mmenu-show #mobile-fixed.mobile-fixed-type2 .mmenu-line-icon span{
	position: absolute;
	width: 28px;
	height: 2px;
	right: 0;
	top: calc(50% - 1px);
    transition: all .3s ease;
}
.mmenu-show #mobile-fixed.mobile-fixed-type2 .mmenu-line-icon:before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;

    width: 100%;
    height: 2px;
    transition: all .3s ease;
}
.mmenu-show #mobile-fixed.mobile-fixed-type2 .mmenu-line-icon:after{
	content: "";
    position: absolute;
    bottom: 0;
	left: 0;
    display: block;
    width: 100%;
    height: 2px; 
    transition: all .3s ease;
}
.mmenu-show.mmenu-open #mobile-fixed.mobile-fixed-type2 .mmenu-line-icon span{
    width: 0;
}
.mmenu-show.mmenu-open #mobile-fixed.mobile-fixed-type2 .mmenu-line-icon:before {
    transform: rotate(45deg);
	top: 7px;
}
.mmenu-show.mmenu-open #mobile-fixed.mobile-fixed-type2 .mmenu-line-icon:after {
    transform: rotate(-45deg);
	bottom: 5px;
}
.mmenu-show #mobile-fixed.mobile-fixed-type2 .mmenu-line-txt{
	position: absolute;
    width: 36px;
    height: 15px;
    left: calc(50% - 16px );
    top: 38px;
}
.mmenu-show.mmenu-open #mobile-fixed.mobile-fixed-type2 {
    right: 0;
	left: 0;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 ul{
	display: flex;
    justify-content: end;
	border-bottom: 0;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 li{
	width: 60px;
	border-left: 1px solid rgba(255,255,255,0.2);
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 a,
.mmenu-show #mobile-fixed.mobile-fixed-type3 span{
	line-height: 60px;
    height: 60px;
    position: relative;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .mmenu-line-icon{
	width: 20px;
    height: 14px;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 14px);
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .mmenu-line-icon span{
	position: absolute;
	width: 20px;
	height: 2px;
	right: 0;
	top: calc(50% - 1px);
    background: #FFF;
    transition: all .3s ease;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .mmenu-line-icon:before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #FFF;
    width: 100%;
    height: 2px;
    transition: all .3s ease;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .mmenu-line-icon:after{
	content: "";
    position: absolute;
    bottom: 0;
	left: 0;
    display: block;
    background: #FFF;
    width: 100%;
    height: 2px; 
    transition: all .3s ease;
}
.mmenu-show.mmenu-open #mobile-fixed.mobile-fixed-type3 .mmenu-line-icon span{
    width: 0;
}
.mmenu-show.mmenu-open #mobile-fixed.mobile-fixed-type3 .mmenu-line-icon:before {
    transform: rotate(45deg);
	top: 7px;
}
.mmenu-show.mmenu-open #mobile-fixed.mobile-fixed-type3 .mmenu-line-icon:after {
    transform: rotate(-45deg);
	bottom: 5px;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .mmenu-line-txt{
	position: absolute;
    width: 36px;
    height: 15px;
    left: calc(50% - 16px );
    top: 38px;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .mmenu-line-txt:before{
	content: "MENU";
    font-family: Arial, sans-serif;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 0;
    color: #FFF;
    line-height: 12px;
    letter-spacing: 0px;
    white-space: nowrap;
}
.mmenu-show.mmenu-open #mobile-fixed.mobile-fixed-type3 {
    right: 0;
	left: 0;
}
/********************/

.mmenu-show #mobile-search {
	display: block;
	position: fixed;
	z-index: 800;
	top: -41px;
	left: 0;
	right: 0;
	padding: 6px;
	transition: all .3s ease
}

.mmenu-show #mobile-search.active {
	top: 41px
}

.mmenu-show #mobile-search .search-box {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	width: auto;
	display: block;
	margin: 0;
	padding: 0
}

.mmenu-show #mobile-search .form-control {
	margin: 0;
	background: #fff;
	border: 0;
	height: 30px;
	line-height: 30px;
	padding-right: 40px;
	padding-left: 10px;
	border-radius: 5px
}

.mmenu-show #mobile-search .btn.search {
	width: 30px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 0;
	top: 0
}

.mmenu-show #mobile-search .ibtn.search {
	background-image: url(../img/mobile_search_btn.svg);
	width: 30px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0
}

.no-svg .mmenu-show #mobile-search .ibtn.search {
	background-image: url(../img/mobile_search_btn.svg)
}
/********************/
.mmenu-show #mobile-search.mobile-search-type2 {
    top: 0;
	opacity: 0;
	pointer-events: none;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.mmenu-show #mobile-search.mobile-search-type2:before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.2);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.mmenu-show #mobile-search.mobile-search-type2.active {
	opacity: 1;
	pointer-events: auto;
}
.mmenu-show #mobile-search.mobile-search-type2 .search-box {
	top: -46px;
}
.mmenu-show #mobile-search.mobile-search-type2 .form-control{
	width: 70vw;
	min-width: 70vw;
	max-width: 70vw;
	height: 45px;
	line-height: 45px;
	border-radius: 0;
	font-size: 20px;
	padding-right: 90px;
}
.mmenu-show #mobile-search.mobile-search-type2 .ibtn.search {
    width: 45px;
    height: 45px;
	right: 45px;
}
.search-box-title {
	display: none;
}
.mmenu-show #mobile-search.mobile-search-type2 .search-box-title {
	color: #FFF;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: -40px;
    left: calc(50% - 47px);
    letter-spacing: 3px;
    width: 94px;
    white-space: normal;
	display: block;
}
.mmenu-show #mobile-search.mobile-search-type2 .search-box .mmenu-search-close{
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 18;
    line-height: 105px;
    text-align: center;
    font-size: 12px;
    transition: .2s ease-out;
}
.mmenu-show #mobile-search.mobile-search-type2 .search-box .mmenu-search-close:before,
.mmenu-show #mobile-search.mobile-search-type2 .search-box .mmenu-search-close:after{
    content: "";
    height: 2px;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
    transform: translate3d(-50%,-50%,0) rotate(45deg);
    transition: .4s cubic-bezier(.25, .6, .36, 1);
    position: absolute;
    top: 50%;
    width: 20px;
}
.mmenu-show #mobile-search.mobile-search-type2 .search-box .mmenu-search-close:before{
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transition-delay: 65ms;
}
.mmenu-show #mobile-search.mobile-search-type2 .search-box .mmenu-search-close:hover:before{
    -webkit-transform: translate3d(-50%,-50%,0) rotate(135deg);
    transform: translate3d(-50%,-50%,0) rotate(135deg);
}
.mmenu-show #mobile-search.mobile-search-type2 .search-box .mmenu-search-close:hover:after{
    -webkit-transform: translate3d(-50%,-50%,0) rotate(225deg);
    transform: translate3d(-50%,-50%,0) rotate(225deg);
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .mmenu-search-close {
	width: 20px;
    height: 14px;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 8px);
	opacity: 0;
	transition: all .3s ease;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .active .mmenu-search-close {
	opacity: 1;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .mmenu-search-close:before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #FFF;
    width: 100%;
    height: 2px;
    transition: all .3s ease;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .mmenu-search-close:after {
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    background: #FFF;
    width: 100%;
    height: 2px;
    transition: all .3s ease;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .active .mmenu-search-close:before {
	transform: rotate(45deg);
    top: 7px;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .active .mmenu-search-close:after {
	transform: rotate(-45deg);
    bottom: 5px;
}
.mmenu-show #mobile-fixed.mobile-fixed-type3 .active i {
	display: none;
}
.mmenu-show #mobile-search.mobile-search-type3 {
    top: 60px;
	opacity: 0;
	pointer-events: none;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.mmenu-show #mobile-search.mobile-search-type3:before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.2);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.mmenu-show #mobile-search.mobile-search-type3.active {
	opacity: 1;
	pointer-events: auto;
}
.mmenu-show #mobile-search.mobile-search-type3 .search-box {
	top: -46px;
}
.mmenu-show #mobile-search.mobile-search-type3 .form-control{
	width: 70vw;
	min-width: 70vw;
	max-width: 70vw;
	height: 45px;
	line-height: 45px;
	border-radius: 30px;
	font-size: 16px;
}
.mmenu-show #mobile-search.mobile-search-type3 .ibtn.search {
    width: 45px;
    height: 45px;
}
.search-box-title {
	display: none;
}
.mmenu-show #mobile-search.mobile-search-type3 .search-box-title {
	color: #FFF;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: -40px;
    left: calc(50% - 47px);
    letter-spacing: 3px;
    width: 94px;
    white-space: normal;
	display: block;
}
.mmenu-show #member-box,.mmenu-show #language-box {
	display: block;
	position: fixed;
	z-index: 900;
	top: 40px;
	left: 0;
	right: 0;
	color: #fff;
	max-height: 0;
	overflow: hidden;
	text-align: center;
	transition: all .3s ease
}

.mmenu-show #member-box.active,.mmenu-show #language-box.active {
	max-height: 500px
}

.mmenu-show #member-box li,.mmenu-show #language-box li {
	border-bottom: 1px solid
}

.mmenu-show #member-box li a,.mmenu-show #language-box li a {
	display: block;
	padding: 6px 10px;
	font-size: 16px
}

.mmenu-show #member-box .qty {
	display: inline-block;
	background: #fff;
	font-size: 12px;
	color: #333;
	font-weight: 700;
	padding: 0 6px;
	border-radius: 5px
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes bounceInDown {
	from,60%,75%,90%,to {
		-webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
		animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-3000px,0);
		transform: translate3d(0,-3000px,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0,25px,0);
		transform: translate3d(0,25px,0)
	}

	75% {
		-webkit-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0)
	}

	90% {
		-webkit-transform: translate3d(0,5px,0);
		transform: translate3d(0,5px,0)
	}

	to {
		-webkit-transform: none;
		transform: none
	}
}

@keyframes bounceInDown {
	from,60%,75%,90%,to {
		-webkit-animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000);
		animation-timing-function: cubic-bezier(0.215,0.610,0.355,1.000)
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0,-3000px,0);
		transform: translate3d(0,-3000px,0)
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0,25px,0);
		transform: translate3d(0,25px,0)
	}

	75% {
		-webkit-transform: translate3d(0,-10px,0);
		transform: translate3d(0,-10px,0)
	}

	90% {
		-webkit-transform: translate3d(0,5px,0);
		transform: translate3d(0,5px,0)
	}

	to {
		-webkit-transform: none;
		transform: none
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown
}
@media screen and (max-width: 1000px) {
	.youtubecontent_box{
		width:100%!important;
	}
}
@media screen and (max-width: 400px) {
	.mmenu-show #mobile-menu {
		width: 100%;
		left: -100%
	}

	.mmenu-show.mmenu-open #mobile-fixed {
		left: 100%;
		right: -100%
	}

	.mmenu-show.mmenu-open .wrapper {
		left: 100%
	}
}